<div class="store_title">
  <h3>店舗一覧</h3>
</div>
<div class="store_index">
  <table>
    <thead>
      <tr>
        <td></td>
        <th scope="col">店舗名</th>
        <th scope="col">URL</th>
        <th scope="col">商品数</th>
        <td></td>
        <% if user_signed_in? && current_user&.admin? %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @stores.each do |store| %>
        <tr>
          <th></th>
          <td data-label="店舗名" class="name"><%= store.name %></td>
          <td data-label="URL" class="link"><%= link_to store.link, "#{store.link}" if store.link.present? %></td>
          <div class="td_count">
            <td data-label="商品数" class="item_count"><%= store.items.count %></td>
          </div>
          <td><%= link_to '店舗詳細へ', store %></td>
          <% if user_signed_in? && current_user&.admin? %>
            <td><%= link_to '編集', edit_store_path(store) %></td>
            <td><%= link_to '削除', store, method: :delete, data: { confirm: '削除しますか?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<% if user_signed_in? && current_user&.admin? %>
  <%= link_to 'ストアを新規登録', new_store_path %>
<% end %>

<div class="page_nate">
  <%= paginate @stores %>
</div>
