<p id="notice"><%= notice %></p>

<p>
  <strong>ストア名：</strong>
  <%= @store.name %>
</p>

<p>
  <strong>URL：</strong>
  <%= @store.link %>
</p>

<p>
  <strong>住所：</strong>
  <%= @store.address %>
</p>

<p>
  <strong></strong>
  <%= @store.note %>
</p>

<% if @favorite.present? %>
      <%= link_to 'お気に入り解除する', favorite_path(favorite: @favorite.id), method: :delete %>
    <% else %>
      <%= link_to 'お気に入りする', favorites_path(store: @store.id), method: :post %>
    <% end %>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
