<h3><%= "#{@team.name}のユニフォーム一覧" %></h3>

<table>
  <thead>
    <tr>
      <th>年式</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kits.each do |kit| %>
      <tr>
        <td><%= kit.series %></td>
        <td><%= image_tag kit.image.variant(resize:'500x500').processed if kit.image.attached? %></td>
        <td><%= link_to '詳細', league_team_kit_path(@league, @team, kit.id) %></td>
        <td><%= link_to '編集', edit_league_team_kit_path(@league, @team, kit.id) %></td>
        <td><%= link_to '削除', league_team_kit_path(@league, @team, kit.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'ユニフォームを登録', new_league_team_kit_path %>
