<h1>New Kit</h1>

<%= form_with(model: [@league, @team, @kit], local: true) do |form| %>

  <div class="field">
    <%= form.label :series %>
    <%= form.text_field :series %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= link_to 'Back', league_team_kits_path %>
