<%= form_with(model: [@store, @item], local: true) do |form| %>

  <h3>商品情報を入力</h3>

  <%= collection_select(:label, :league, @leagues, :id, :name, include_blank: "リーグを選択してください") %>
  <%= select(:label, :team, [], include_blank: "チームを選択してください", class: "default-teams-of-league-select") %>
  <%= select(:label, :kit, [], include_blank: "ユニフォームを選択してください", class: "default-kits-of-team-select") %>
  <% @leagues.each do |league| %>
    <template id="teams-of-league_<%= league.id %>">
      <%= collection_select(:label, :team, league.teams, :id, :name, include_blank: "チームを選択してください") %>
    </template>
    <% league.teams.each do |team| %>
      <template id="kits-of-team_<%= team.id %>">
        <%= collection_select(:label, :kit, team.kits, :id, :series, include_blank: "ユニフォームを選択してください") %>
      </template>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.number_field :size %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link %>
  </div>

  <div class="actions">
    <%= form.submit "登録" %>
  </div>

<% end %>
<%= link_to 'Back', store_items_path %>
