<%= form_with(model: [@store, @item], local: true) do |form| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= @item.errors.count %> 件のエラーにより登録できませんでした。</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>商品情報を入力</h3>

  <%= collection_select(:label, :league, @leagues, :id, :name, include_blank: "リーグを選択してください") %>
  <%= select(:label, :team, [], include_blank: "チームを選択してください", class: "default-teams-of-league-select") %>
  <%= select(:label, :kit, [], include_blank: "ユニフォームを選択してください", class: "default-kits-of-team-select") %>
  <% @leagues.each do |league| %>
    <template id="teams-of-league_<%= league.id %>">
      <%= collection_select(:label, :team, league.teams, :id, :name, include_blank: "チームを選択してください") %>
    </template>
    <% league.teams.each do |team| %>
      <template id="kits-of-team_<%= team.id %>">
        <%= collection_select(:label, :kit, team.kits, :id, :series, include_blank: "ユニフォームを選択してください") %>
      </template>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.text_field :name, placeholder: '商品名を入力' %>
  </div>

  <div class="field">
    <%= form.label :サイズを選択してください %><br>
    <%= form.select :size, [["Kids", "Kids"], ["XS", "XS"], ["S", "S"], ["M", "M"], ["L", "L"], ["XL", "XL"], ["XXL", "XXL"]] %>
  </div>

  <div class="field">
    <%= form.number_field :price, placeholder: '値段を入力' %>
  </div>

  <div class="field">
    <%= form.text_field :link, placeholder: '商品URLを入力' %>
  </div>

  <div class="field">
    <%= form.label :画像を追加する場合はファイルを選択してください %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit "登録" %>
  </div>

<% end %>
<%= link_to '商品一覧へ戻る', store_items_path %>
