<!DOCTYPE html>
<html>
  <head>
    <title>KitCommu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">

      <header>
        <div class="container-fluid main">
          <nav class = 'navbar navbar-default'>
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <%= link_to "KitCommu", root_path, class:'navbar-brand' %>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                  <li><%= link_to "About Us", overview_path %></li>
                  <% if user_signed_in? %>
                    <li><%= link_to "YourProfile", profile_path(id: current_user.profile.id) %></li>
                    <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
                  <% else %>
                    <li><%= link_to "Sign Up", new_user_registration_path %></li>
                    <li><%= link_to "Log In", new_user_session_path %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <div class="content">
        <% if notice %>
          <p class="alert alert-notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-error"><%= alert %></p>
        <% end %>
        <article class="main_content">
          <%= yield %>
        </article>
      </div>

      <div class="wrapper clearfix">
        <aside id="side_menu">
          <div class="index_link">
            <li><%= link_to "掲示板へ", posts_path %></li>
            <li><%= link_to "ストア一覧へ", stores_path %></li>
            <p>チームから探す</p>
          </div>
          <% @leagues.each_with_index do |league, i| %>
            <div class="cp_actab">
              <% i += 1 %>
              <input type="checkbox" name="tabs" id="tab_<%= i %>" >
              <label for="tab_<%= i %>"><%= league.name %></label>
              <ul class="cp_actab-content">
                <% league.teams.each do |team| %>
                  <li><%= link_to team.name, league_team_path(team.league_id, team.id) %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </aside>
      </div>

      <br><br><br>

      <div class=footer>
        <div class="container-fluid">
          <footer>
            <p>Copyright ©︎ 2021 KitCommu All Rights Reserved.</p>
          </footer>
        </div>
      </div>

    </div>

  </body>
</html>
